@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Caudex:ital,wght@0,400;0,700;1,400;1,700&display=swap');


:root {
    --font: "Caudex", serif;

    --roxo-profundo: #1d0031;
    --lavanda-suave: #C8A2C8;
    --berinjela-neutro: #5D496B;
    --lilas-claro: #E8DAEF;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar-custom {
    background-color: var(--roxo-profundo)
}

a {
    text-decoration: none;
    color: black;
}

header {
    background-color: var(--roxo-profundo);
    padding: 10px;
}

body {
    background-color: var(--roxo-profundo);
    width: 100vw;
    height: 100vh;
    font-family: var(--font);
}

header>h1 {
    color: white;


}

nav {}

main {
    display: flex;
    align-items: center;
    height: 80vh;
    margin: 20px;
    padding: 50px;
    border-radius: 10px;
    gap: 30px;
/*     border: 1px solid black;
 */    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.199);
    color: white;
}

main img {
    width: 700px;
}

main h1 {
    font-weight: bolder;
    font-size: 3.5em;
}

main p {
    font-size: 1.6em;
    width: 84%;
}

main a {
    background-color: var(--lavanda-suave);
    padding: 20px;
    width: 84%;
    text-align: center;
    display: inline-block;
    margin-top: 20px;
    border-radius: 30px;
}

a {
    color: white;
}








header a {
    padding: 10px 20px;
    border-radius: 10px;
    text-align: center;
    color: white;

}

/* felx box */

header {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-around;
    gap: 10px;
}

nav {
    padding: 0px 10px;
    flex-flow: row wrap;
    display: flex;
    gap: 10px;
}

nav>a {
    display: inline-block;
    flex: 0 1 68px;
    border: 1px solid;
    border-radius: 30px;

}